:root {
    /*  Colors  */
    --neutral-900: hsl(0, 0%, 7%);
    --neutral-800: hsl(0, 0%, 15%);
    --neutral-500: hsl(240, 3%, 46%);
    --neutral-400: hsl(240, 1%, 59%);
    --neutral-400-a: hsla(240, 1%, 59%, 0.5);
    --neutral-0: hsl(0, 0%, 100%);

    --blue-600: hsl(214, 100%, 55%);
    --blue-400: hsl(210, 100%, 65%);

    --red-500: hsl(354, 63%, 57%);

    --green-500: hsl(140, 63%, 57%);

    --yellow-400: hsl(49, 86%, 70%);

    /*  Font size  */
    --font-size-basic: 16px;
}

@font-face {
    font-family: "Sora";
    src: url("assets/fonts/Sora/static/Sora-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: "Sora";
    src: url("assets/fonts/Sora/static/Sora-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: "Sora";
    src: url("assets/fonts/Sora/static/Sora-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;}

/*  классы для JS  */
.char {
    color: var(--neutral-400);
    font-size: 40px;
}
.current {
    background-color: var(--neutral-400-a);
    border-radius: 5px;
    border: none;
}
.correct {
    color: var(--green-500);
}
.wrong {
    color: var(--red-500);
    border-bottom: 3px solid var(--red-500);
}

html, body {
    font-family: "Sora";
    font-weight: 400;
    font-size: var(--font-size-basic);
    color: var(--neutral-0);
    padding: 0;
    margin: 0;
    background-color: var(--neutral-900);
    height: 100%;
}

header {
    margin: 2em 5%;
    display: flex;
    flex-direction: row;
}

main {
    margin: 2em 5%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.personal-best{
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    margin-left: auto;
    font-size: 18px;
}

.personal-best-description, #personal-best-score {
    margin-left: 0.3em;
}

#pb-desc-1, #pb-desc-2 {
    color: var(--neutral-400);
}

#pb-desc-2 {
    display: none;
}

.main-head, .main-head-settings {
    display: flex;
    flex-direction: row;
    height: 2em;
    padding-bottom: 1em;
}

.main-head-settings{
    margin-left: auto;
}

.main-head-stats, .stats {
    display: flex;
    flex-direction: row;
}

.stats {
    margin-right: 1em;
    border-right: 1px solid var(--neutral-800);
    color: var(--neutral-400);
    font-size: 20px;
    line-height: 2em;
}
.stats:last-of-type{
    border-right: none;
}

.stats-editable {
    margin: 0 0.7em;
    color: var(--neutral-0);
    font-weight: 700;
    font-size: 24px;
}

.main-head-difficulty{
    display: flex;
    border-right: 1px solid var(--neutral-800);
    padding: 0 1em;
}

#difficulty, #mode {
    margin: 0; 
    color: var(--neutral-400);
    padding-right: 1em;
    line-height: 2em;
}

.stats-button {
    padding: 0 10px;
    background: none;
    border: 1px solid var(--neutral-500);
    border-radius: 8px;
    color: var(--neutral-0);
    font-size: var(--font-size-basic);
    font-family: "Sora";
    font-weight: 400;
    height: 100%;
    width: auto;
}
.stats-button:hover {
    color: var(--blue-400);
    border: 1px solid var(--blue-400);
}
.stats-button:focus {
    outline: 2px solid var(--blue-400);
    outline-offset: 2px;
    color: var(--neutral-0);
    border-color: var(--neutral-0);
}

#difficulty-select {
    display: none;
    margin-left: 8px;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.main-head-mode {
    display: flex;
    padding-left: 1em;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--neutral-800);
    margin: 0;
    width: 100%;
}

.main-text {
    position: relative;
}

#text {
    filter: blur(7px);
    color: var(--neutral-400);
    font-weight: 400;
    font-size: 40px;
    max-height: 100%;
}

#hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.start-button {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    background-color: var(--blue-600);
    color: var(--neutral-0);
    font-family: "Sora";
    font-weight: 600;
    font-size: var(--font-size-basic);
    border: none;
    border-radius: 10px;
    padding: 1em 1.5em;
}
#start:hover {
    background-color: var(--blue-400);
}
#start:focus {
    outline: 2px solid var(--blue-400);
    outline-offset: 2px;
}

/*.main-text, hr, .main-head{
    visibility: hidden;
}*/

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.test-complete {
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon-completed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: hsla(140, 63%, 57%, 0.3);
    width: 96px;
    height: 96px;
    box-shadow: 0 0 0 16px hsla(140, 63%, 57%, 0.1);
}

#icon-star-1 {
    align-self: flex-start;
}

#icon-star-2 {
    align-self: flex-end;
}

#test-complete-head {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

#test-complete-description {
    font-size: 20px;
    color: var(--neutral-400);
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.result-stats {
    border: 1px solid var(--neutral-800);
    border-radius: 5px;
    padding: 1em 1.5em;
    width: 7em;
    margin: 1.25em 0.625em 0 0.625em;
}

.result-stats-description {
    margin: 0;
    font-size: 20px;
    color: var(--neutral-400);
}

.result-stats-main {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0.5em;
}

#again, #restart-button {
    margin: 0;
    padding: 10px 16px;
    background-color: var(--neutral-0);
    color: var(--neutral-900);
    font-size: 20px;
    font-weight: 600;
    font-family: "Sora";
    border: none;
    border-radius: 12px;
    width: 8em;
    height: 2.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#again:focus {
    outline: 2px solid var(--blue-400);
    outline-offset: 2px;
}

#line {
    margin-top: 4em; 
    visibility: hidden;
}

#restart-button {
    color: var(--neutral-0);
    background-color: var(--neutral-800);
    width: 9.5em;
    margin-top: 2em;
    align-self: center;
    visibility: hidden;
}

#icon-again {
    filter: invert();
}

#confetti{
    width: 99vw;
    margin-top: 5em;
    height: 0;
}

.custom-select{
    display: none;
}

@media screen and (max-width: 1285px) and (min-width: 690px) {
    .main-head {
        flex-direction: column;
        height: 5.5em;
    }
    .main-head-settings{
        margin-left: 0;
        margin-top: 1em;
    }
    .main-head-difficulty {
        padding-left: 0;
    }
    .start-button {
        max-height: 80vw;
    }
}


@media screen and (max-width: 690px) {
    #main-logo{
        content: url("assets/images/logo-small.svg");
    }
    #pb-desc-1 {
        display: none;
    }
    #pb-desc-2 {
        display: block;
    }
    .stats {
        flex-direction: column;
        align-items: center;
        width: 87px;
        font-size: 16px;
        margin: 0;
        border: none;
    }
    #accuracy-container{
        border-right: 1px solid var(--neutral-800);
        border-left: 1px solid var(--neutral-800);
        padding: 0 10%;
    }
    .main-head-stats{
        justify-content: space-between;
    }
    .main-head {
        flex-direction: column;
        height: 7em;
    }
    .main-head-settings{
        margin-left: 0;
        margin-top: 1em;
    }
    .main-head-difficulty, .main-head-mode{
        width: 50%;
        padding: 0;
        border: none;
    }
    .main-head-stats-buttons, #difficulty, .main-head-stats-buttons, #mode {
        display: none;
    }

    .custom-select {
        width: 95%;
        display: block;
        position: relative;
    }
    .select-header {
        padding: 5px 0;
        background: none;
        color: var(--neutral-0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--neutral-500);
    }
    .arrow {
        margin-left: 10px;
    }
    .options-container {
        position: absolute;
        top: 130%;
        left: 0;
        right: 0;
        background-color: hsla(0, 0%, 29%, 0.387);
        border-radius: 10px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        opacity: 0;
        pointer-events: none;
        transform: translateY(5px);
        z-index: 10;
    }
    .option {
        padding: 10px 10px;
        color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #555;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .option:last-of-type{
        border: none;
    }
    .option::before {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid var(--neutral-0);
        margin-right: 10px;
    }
    .option.active::before {
        background: none;
        width: 6px;
        height: 6px;
        border: 7px solid var(--blue-400);
    }

    .start-button {
        height: 100vw;
    }
    
    .result {
        flex-direction: column;
        align-items: center;
    }
    #test-complete-head {
        text-align: center;
        font-size: 24px;
    }
    #test-complete-description {
        text-align: center;
        font-size: 16px;
    }
    #icon-completed {
        width: 48px;
        height: 48px;
    }
    .icon-completed-container{
        width: 64px;
        height:64px;
        box-shadow: 0 0 0 8px hsla(140, 63%, 57%, 0.1);
    }
    #icon-star-1 {
        width: 21px;
        height: 21px;
    }
    #icon-star-2 {
        width: 39px;
        height: 39px;
    }
    .result-stats {
        width: 90%;
    }
}